/*UNIVERSAL CODES*/
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/lora');

#head-nav {
    box-shadow: 0px 0px 5px gray;
}


#img-logo {
    margin: -8px;
    margin: -13px -8px -8px -15px;
}

#buttons a{
    text-decoration: none;
    background-color: white;
    color:#061A38;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
}

#buttons a:hover{
    text-decoration: none;
    background-color: #e4DAF7;
}

#buttons a:active{
    transform: scale(0.9);
}

    @media (max-width: 576px) {
  #img-logo {
    width: 80%;
    margin: -13px -8px -8px -15px;
  }

  #img-logo-foot {
    width: 10%;
    margin: -13px -8px -8px -15px;
  }

}

#about-btn a {
    text-decoration: none;
    margin: 10px 30px;
    display: inline-block;
    transition: transform 0.2s ease;
    color: #46527d;
}

#about-btn a:hover {
    transform: scale(1.1);
}

#page-title {
    font-family: Lora;
}

#intro-col {
    background-color: #e4DAF7;
    border-radius: 25px 0px 0px 25px;
        border: 3px solid #44406B;
}

#contri-col {
    background-color: #44406B;
    border-radius: 0px 25px 25px 0px;
        border: 3px solid #44406B;
    color:white;
}

#intro-col img {
    border: 2px solid #44406B;
    border-radius: 25px;
}

#profile-tile {
    border-radius: 25px;
}

.contri-cont {
    text-align: center;
    font-size: 1.2em;
}

.contri-cont a{
    text-decoration: none;
    color: #44406B;
    background-color: #e4DAF7;
    border: 2px solid #e4DAF7;
    border-radius: 5px;
}

.contri-cont a:hover{
    background-color: #d3f4e3;

}



@media (max-width: 576px) or (max-width: 768px) {
    .custom-responsive-text {
      font-size: 1.25rem !important; /* fs-5 size */
    }

    #intro-col{
        border-radius: 25px;
    }

    #name, #short-intro {
        font-size: .5em;
    }

}

#topBtn {
    position: sticky;
    bottom: 0px;
    right: 3.5%;
    left: 96%;
    width: 50px;
    margin-bottom: 20px;
}

#topBtn a {
    background-color: #44406B;
    border: 2px solid #ffffff;
    color: white;
    cursor: pointer;
    padding: 15px 23px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#topBtn a:hover {
    background-color: #e4DAF7;
    border: 2px solid #44406B;
    color: #44406B;
}

#carouselExampleControls {
  width: 150vh;/* 50% of viewport height */
}

#carouselExampleControls .carousel-inner,
#carouselExampleControls .carousel-item,
#carouselExampleControls .carousel-item img {
  height: 100%;
}

#carouselExampleControls .carousel-item img {
  object-fit: cover; /* Or use 'contain' for full image with padding */
}
