/*UNIVERSAL CODES*/
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/lora');

* {
    font-family: poppins, 'Segoe UI', Verdana, sans-serif;
}

body {
    background-color: #fffafa;
}

h1, h2, h3, h4 {
    font-family: lora, Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.header {
    background-color: white;
    color: #061A38;
    display:flex;
    margin:-8px -8px 30px;
    box-shadow: 0px 0px 5px gray;
}

.logo {
    width:40%;
}

.navbar {
    width: 60%;
    display: flex;
    text-align: right;
    padding: 20px;
    font-size: 1.2em;
    justify-content: flex-end; /* Aligns nav items to the right */
}

.navbar a{
    text-decoration: none;
    background-color: white;
    color:#061A38;
    border: 2px solid white;
    margin: 0 15px;
    padding: 15px;
    border-radius: 5px;

}

.navbar a:hover{
    text-decoration: none;
    background-color: #e4DAF7;
}

.navbar a:active{
    transform: scale(0.9);
}

.button {
    text-decoration: none;
    background-color: #e4daf7;
    border: 2px solid #46527d;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 5px;
}

.button:link{
    text-decoration: none;
    background-color: #e4daf7;
    border: 2px solid #46527d;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 5px;
    color: #46527d;
}
.button:hover {
    background-color: #ffffff;
    color: #46527d;
    border: 2px solid #46527d;
}
.button:active {
    transform: scale(0.9);
}

.foot {
    background-color: #44406B;
    padding: 20px 15px 15px;
    margin: 0px -8px -8px;
}

.container h1 {
    font-size: 3em !important;
}

.container {
    margin:20px 80px;
}

/*Button for about*/

.about-btn {
    font-size: 1.8em;
    text-align: center;
    display: block;
    margin: 0px 20px 20px;
}

.about-btn a {
    text-decoration: none;
    margin: 10px 30px;
    display: inline-block;
    transition: transform 0.2s ease;
    color: #46527d;
}

.about-btn a:hover {
    transform: scale(1.1);
}

.about-btn a:active {
    transform: scale(0.9);
    color: #46527d;
}

.header-title{
    font-size: 2em;
    margin-bottom: -15px;
    text-align: center;
}

.about-descrip, .credit-descrip {
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.tile-container {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.profile-tile {
    align-content: center;
    width: 34%;
    height: 1050px;
    background-color: #e4DAF7;
    border-radius: 10px;
    border: 3px solid #44406B;
}

#center-tile {
    margin: 0px 15px;
}

.profile-img img{
    margin: 25px 10px 0px;
    border-radius: 10px;
    border: 2px solid #46527d;
}


.stud-name {
    font-size: 1.5em;
    text-align: center;
    margin-top: -5px;
    color: #44406B;
}

.Description {
    margin: -10px 25px 25px;
    text-align: justify;
    font-size: 1.2em;
    color:#46527d;
}

.divider h4 {
    font-family: lora, Georgia, 'Times New Roman', Times, serif;
    width: 90%; 
    text-align: center; 
    padding-left: 0px;
    border-bottom: 3px solid #46527d; 
    line-height: 0.1em;
    font-size: 1.3em;
 } 
 
 .divider h4 span { 
     background: #e4daf7; 
     color:#46527d;
     padding:0 10px; 
 }

 .contribution-list {
    color: #e4DAF7;
    display: flex;
    margin: 15px;
 }

 .contri {
    width: 50;
    display: block;
    margin: -10px 3px;
    padding: 5px 25px;
    color: #44406B;
 }