/*UNIVERSAL CODES*/
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/lora');

#head-nav {
    box-shadow: 0px 0px 5px gray;
}
body {
    background-color: #fffafa;
    font-family: poppins, 'Segoe UI', Verdana, sans-serif;   
}


#img-logo {
    margin: -8px;
    margin: -13px -8px -8px -15px;
}

#buttons a{
    text-decoration: none;
    background-color: white;
    color:#061A38;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
}

#buttons a:hover{
    text-decoration: none;
    background-color: #e4DAF7;
}

#buttons a:active{
    transform: scale(0.9);
}

#made-for {
   font-family: lora, Georgia, 'Times New Roman', Times, serif;
}

#learn-more {
    text-decoration: none;
    background-color: #e4DAF7;
    border: #e4DAF7;
    border-radius: 5px;
}

#learn-more {
    text-decoration: none;
    background-color: #e4DAF7;
    color: #000;
    border: 2px solid #e4DAF7;
    border-radius: 10px;
    transition: all 0.3s ease;
    display: inline-block;
}

#learn-more:hover {
    background-color:#D3F4E3;
    transform: scale(1.05);
}

#learn-more:active {
    background-color:#D3F4E3;
    transform: scale(1);
}