/*UNIVERSAL CODES*/
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/lora');

* {
    font-family: poppins, 'Segoe UI', Verdana, sans-serif;
}

body{
    background-color: #fffafa;
}

h1, h2, h3, h4 {
    font-family: lora, Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: white;
    color: #061A38;
    display:flex;
    margin:-8px;
    box-shadow: 0px 0px 5px gray;
    position: relative;
}

.logo {
    width:40%;
}

.navbar {
    width: 60%;
    display: flex;
    text-align: right;
    padding: 20px;
    font-size: 1.2em;
    justify-content: flex-end; /* Aligns nav items to the right */
}

.navbar a{
    text-decoration: none;
    background-color: white;
    color:#061A38;
    border: 2px solid white;
    margin: 0 15px;
    padding: 15px;
    border-radius: 5px;

}

.navbar a:hover{
    text-decoration: none;
    background-color: #e4DAF7;
}

.navbar a:active{
    transform: scale(0.9);
}

.button {
    text-decoration: none;
    background-color: #e4daf7;
    border: 2px solid #46527d;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 5px;
}

.button:link{
    text-decoration: none;
    background-color: #e4daf7;
    border: 2px solid #46527d;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 5px;
    color: #46527d;
}
.button:hover {
    background-color: #ffffff;
    color: #46527d;
    border: 2px solid #46527d;
}
.button:active {
    transform: scale(0.9);
}

.foot {
    background-color: #44406B;
    padding: 20px 15px 15px;
    margin: 0px -8px -8px;
    position:relative;
}

.container {
    margin:20px 80px;
}

.header-title h1 {
    font-size: 3em !important;
    margin: -30px 80px 20px;
    text-align: center;
}

.top-btn {
    position: sticky;
    bottom: 20px;
    right: 3.5%;
    left: 96.5%;
    z-index: 99;
    width: 50px;
    margin-bottom: 20px;
}

.top-btn a {
    background-color: #44406B;
    border: 2px solid #ffffff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.top-btn a:hover {
    background-color: #e4DAF7;
    border: 2px solid #44406B;
    color: #44406B;
}


.return-btn {
    position: sticky;
    top: 20px;
    left: 20px;
    z-index: 99;
    width: 50px;
    margin-top: 20px;
}

.return-btn a {
    border: 2px solid #fffafa;
    color: #44406B;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.return-btn a:hover {
    background-color: #e4DAF7;
    border: 2px solid #44406B;
    color: #44406B;
}
/*THE CODES BELOW ARE CUSTOM*/

.first-section {
    display: flex;
    margin-bottom: 50px; 
}

.left-container {
    width: 30%;
}

.right-container {
    width: 70%;
}

.tool-logo {
    background-color: #fff;
    border: 3px solid #44406B;
    border-radius: 20px;
    padding: 15px;
    margin: 25px;
}

.tool-desc {
    margin: 25px 30px 20px 15px;
    font-size: 1.2em;
    text-align: justify;
}

.divider h2 {
    font-family: lora, Georgia, 'Times New Roman', Times, serif;
    width: 100%; 
    text-align: left; 
    padding-left: 50px;
    border-bottom: 3px solid lightgrey; 
    line-height: 0.1em;
    margin: 90px 0 50px; 
    font-size: 2em;
 } 
 
 .divider h2 span { 
     background:#fffafa; 
     padding:0 10px; 
 }

 .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
 }
 

 .YT-Vid {
    width: 32%;
    height: 314px;
    margin: 0px 20px -50px;
    align-items: center;
    border: 3px solid #44406B;
 }


.UI-Container {
    display: flex;
    margin-bottom: 30px; 
    background-color: #e4DAF7;
    border: 3px solid #44406B;
    border-radius: 15px;
}

.ui-left-container {
    width: 40%;
    align-items: center;
}

.ui-left-container img{
    margin: 15px 15px 12px;
    border-radius: 5px;
    vertical-align: center;
}

.ui-left-container p{
    margin-top: -3px;
    font-size: 1.2em;
    margin-bottom: 0px;
}


.ui-right-container {
    width: 60%;
    font-size: 1.2em;
    padding: 0px 30px 15px 15px;
    text-align: justify;
}

.ui-name {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: -5px;
}

/*If you need extra CSS code, Write it below*/